{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "function-paren-newline": "off",
    "global-require": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/label-has-for": ["error", { "required": { "some": ["id", "nesting"] }}],
    "jsx-a11y/anchor-is-valid": "off",
    "max-len": "error",
    "no-else-return": "off",
    "prefer-destructuring": "warn",
    "prefer-spread": "warn",
    "react/no-typos": "off",
    "react/no-unescaped-entities": "off",
    "react/require-default-props": "off",
    "react/sort-comp": "off"
  }
}
