.Comparison {
  h3 {
    margin-top: 0;
  }

  & > div {
    &:first-child {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }

  &__source {
    display: flex;
    flex-direction: column;

    textarea {
      flex-grow: 1;
    }
  }
}